<script>
    $(function () {
        var dataset = new Dataset([10], [20], [30], [40]);
        corral1 = new PlotCorral('div#canvas_plot1', 1, dataset);
        corral2 = new PlotCorral('div#canvas_plot2', 2, dataset);
        corral3 = new PlotCorral('div#canvas_plot3', 3, dataset);
        corral4 = new PlotCorral('div#canvas_plot4', 4, dataset);
    });
</script>
<div id="canvas_plot1" class="plotCorral">
  <div class="canvas">
    <button onclick="corral1.createDotPlot()" class="createDotPlot">+</button>

  </div>
</div>

<div id="canvas_plot2" class="plotCorral">
  <div class="canvas">
    <button onclick="corral2.createDotPlot()" class="createDotPlot">+</button>
  </div>
</div>

<div id="canvas_plot3" class="plotCorral">
  <div class="canvas">
    <button onclick="corral3.createDotPlot()" class="createDotPlot">+</button>

  </div>
</div>

<div id="canvas_plot4" class="plotCorral">
  <div class="canvas">
    <button onclick="corral4.createDotPlot()" class="createDotPlot">+</button>
  </div>
</div>
