<script>
  $(function() {
      canvas = makeBarGraph("canvas_boss");
      canvas.render(500, 500);
//      var testData =  [{ date: '2014-01', value: 100}, { date: '2014-02', value: 140}, {date: '2014-03', value: 215}];
//      c = barChart();
//      c.setData(testData);
//      c.render();
//      c.addAxis();
  });
</script>
<div id="canvas_boss"></div>