.plotCorral {
    float: left;
    width: 350px;
    height: 350px;
    background: #F1F1F1;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}
button{
    border: none;
}

.plotCorral button.createDotPlot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%)
}
.plotCorral .canvas{
    padding-top: 20px;
}
.plotCorral .controls{
    text-align: center;
}
.plotCorral button.destroy{
    float: right;
}